@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --color-primary-lime: #C8F135;
    --color-primary-dark: #111318;
    --color-primary-surface: #1A1D24;
    --color-primary-border: #2A2E37;
    --color-on-surface: #FFFFFF;
    --color-on-variant: #C5C9AE;

    --font-family-headline: 'Space Grotesk', sans-serif;
    --font-family-body: 'Manrope', sans-serif;
}
